.container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.title{
    color: white;
    text-shadow: 5px 10px 20px rgb(59, 59, 59);
    font-size: 50px;
    letter-spacing: -0.1rem;
    word-spacing: 1rem;
    font-family: cursive;
}

.box{
    display: flex;
    flex-direction: column;
    height:50vh;
    width: 600px;
    background: rgba(39, 39, 39, 0.1);
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(60px);
    z-index: 10;
    padding: 40px;
    color: #fff;
    border: 2px solid rgba(233, 218, 218, 0.2);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    overflow-y: auto;
    white-space: initial;
    word-wrap: break-word;
}

#left{
  margin-right: auto;
  margin-left: -25px;
  color: rgb(2, 150, 236);
}

#right{
    margin-left: auto;
    margin-right: -25px;
    color: rgb(243, 90, 115);
}

.message{
   position: relative;
   background-color: #fff;
   border-radius: 10px;
   box-sizing: border-box;
   padding: 5px 10px;
   margin-top: 5px;
   /* word-wrap: break-word; */
   white-space: initial;
}

.author{
    font-weight: bolder;
    margin: 0px 10px;
    font-weight: 1000;
    font-size: 18px;
}

.time{
    color: grey;
    font-style: italic;
}

.message-content{
    position: relative;
    box-sizing: border-box;
    font-size: large;
    margin: 0px 5px;
    max-width: 400px;
    word-wrap: break-word;
    font-size: 15px;
    font-weight: 400;
    font-family: ui-monospace;
    margin-top: 5px;
    margin-bottom: 2px;
    /* white-space: normal; */
}

.input>input{
    width: 600px;
    padding: 3px 20px;
    background-color: transparent;
    border: 3px solid white;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    
}
.input>input:hover{
    box-shadow: 0px 0px 10px rgb(204, 204, 204);
}
.input>input::placeholder{
    color: #fff;
}
.input>button{
  background-color: #fff;
  border: none;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  font-size: 25px;
  margin-top: 3px;
  box-shadow: 0px 0px 20px rgb(88, 88, 88);
}
.input>button:active{
   box-shadow: 0px 0px 30px rgb(51, 51, 51);
   transform: scale(0.7);
}

@media screen and (max-width:750px) {
    .box{
      width: 400px;
    }
    .message-content{
        max-width: 200px;
    }
    .input>input{
        width: 400px; 
    }
  }
@media screen and (max-width:500px) {
    .box{
      width: 230px;
    }
    .input>input{
        width: 230px; 
    }
  }
